:root {
  font-size: 16px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  background-color: #181a1b;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans Condensed';
}

a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
}
